<div id="greeting">
  <img src="<%= @current_user.avatar_url %>&size=40">
  Hello, <strong><%= @current_user.nickname %></strong>
</div>

<div id="instructions">
  <h3>For Each Domain You Set You Must Change its DNS Records</h3>
  <p>
    Refer to GitHub's wonderful tutorial for configuring your domain's DNS records.</a>
    <br><a href="https://help.github.com/articles/setting-up-a-custom-domain-with-pages">setting-up-a-custom-domain</a>
    <br><small>You only need to follow the directions after "Setting up DNS"</small>
  </p>
  <p class="warn">Use the ruhoh specific values below:</p>

  <h4>For Toplevel Domains (TLD) (ex: http://mysite.com)</h4>
  <label>A Record</label> <input type="text" value="50.116.20.239" READONLY>

  
  <h4>For Subdomains (ex: http://blog.mysite.com)</h4>
  <label>CNAME</label> <input type="text" value="<%= @current_user.nickname %>.ruhoh.com" READONLY>
</div>


<table id="repositories">
  <tr>
    <th>My repository...</th>
    <th>maps to...</th>
  </tr>
<% @repos.each do |repo| %>
  <tr>
    <td class="repository">
      <a href="<%= repo['html_url'] %>" target="_blank"><%= repo['full_name'] %></a>
    </td>
    <td class="domain">
      <form action="/" method="GET">
        <input type="hidden" name="repo" value="<%= repo['full_name'] %>">
        <span>http://</span><input type="text" value="<%= @mapping.domain %>" name="domain">
        <button type="submit" name="submit">Update</button>
      </form>
    </td>
  </tr>
<% end %>
</table>
