<div id="greeting">
  <img src="<%= @current_user.avatar_url %>&size=40">
  Hello, <strong><%= @current_user.nickname %></strong>
</div>

<div id="instructions">
  <div class="inner">
    <div style="float:left; width:45%">
      <h3>Updating DNS Records for Custom Domains:</h3>
      Refer to GitHub's wonderful tutorial for configuring your domain's DNS records.</a>
      <a href="https://help.github.com/articles/setting-up-a-custom-domain-with-pages">setting-up-a-custom-domain</a>
      <br><small>You only need to follow the directions after "Setting up DNS"</small>
      <p class="warn">Use the ruhoh specific values &rarr;</p>
    </div>
  
    <div style="float:right; width:45%">
      <h4>For Toplevel Domains (TLD) (ex: http://mysite.com) add:</h4>
      <label>A Record</label> <input type="text" value="50.116.20.239" READONLY>
  
      <h4>For Subdomains (ex: http://blog.mysite.com) add: </h4>
      <label>CNAME</label> <input type="text" value="<%= @current_user.nickname %>.ruhoh.com" READONLY>
    </div>
  </div>
  <div style="clear:both;">&nbsp;</div>
</div>

<table id="repositories">
  <tr>
    <th>My repository...</th>
    <th>maps to...</th>
    <th></th>
  </tr>
<% @repos.each do |repo| %>
  <tr data-id="<%= @repo_dictionary[repo['name']].id rescue "" %>">
    <td class="repository">
      <a href="<%= repo['html_url'] %>" target="_blank"><%= repo['full_name'] %></a>
    </td>
    <td class="domain">
      <form action="/repos/<%= repo['name'] %>" method="POST">
        <span>http://</span>
        <% if @repo_dictionary[repo['name']] %>
          <input type="text" class="custom" value="<%= @repo_dictionary[repo['name']]['domain'] %>" name="domain">
        <% else %>
          <input type="text" class="default" value="<%= repo['full_name'].gsub('/', '-').gsub('.', '-') %>.ruhoh.com" name="domain">
        <% end %>
        <button type="submit" name="submit">Update</button>
      </form>
    </td>
    <td class="update">
      <form action="/repos/<%= repo['name'] %>/compile" method="POST">
        <button type="submit" name="submit">compile</button>
      </form>
    </td>
  </tr>
<% end %>
</table>
